body {
    max-width: 100%;
    position: relative;
    background-color: #000000;
    color: white;
    font-family: 'Monsterrat', 'Arial', sans-serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.header__logo {
    margin-right: 8px;
}

.menu__list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu__item, .menu__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    font-family: 'Noto Sans 500', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.name-company {
    text-decoration: none;
}

.menu__item + .menu__item {
    margin-left: 148px;
}

.user:before {
    content: '';
    width: 26px;
    height: 25px;
    top: 0;
    left: -39px;
    position: absolute;
    background-image: url("../css/images/user.png");
    background-repeat: no-repeat;
}


.decoration {
    width: 663px;
    height: 783px;

    position: fixed;
    right: -0;
    top: -107px;

    background: rgba(250, 0, 255, 0.2);
    filter: blur(250px);
    transform: rotate(-105.26deg);
    z-index: -5;
}

.advantage__title {
    font-family: Monsterrat-Bold, 'Arial', sans-serif;
    font-size: 64px;
    line-height: 70px;
    margin: 130px 0 129px 0;
}

.advantage__text {
    position: relative;
}

.advantage__description {
    position: relative;
    font-family: 'Noto Sans 500', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    padding-left: 125px;
}

.advantage__purple-circle {
    position: absolute;
    left: 0;
    top: 257px;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    z-index: -5;

}

.advantage__purple-circle:after {
    content: url("../css/images/purlpe_circle.png");
    position: absolute;
    top: -448px;
    left: -74px;

}


.advantage__purple-circle:before {
    content: '';
    position: absolute;
    width: 139px;
    height: 0;
    left: -12px;
    top: -246px;

    border: 2px solid #FFFFFF;
    transform: rotate(120.61deg);
}

.advantage__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 18px 0 0 0;
}

.advantage__item {
    position: relative;
}

.advantage__content {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: -3;
}

.phone__eyebrow {
    position: absolute;
    top: 31px;
    left: 50px;

}

.download__title {
    margin: 0;
    font-family: 'Monsterrat-Bold', 'Arial', sans-serif;
    font-size: 35px;
    line-height: 70px;
}

.download {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 83px 0 180px 0;
}

.download__link + .download__link {
    margin-left: 25px;
}

.cookie {
    position: sticky;
    bottom: 0;
    display: flex;
    opacity: 0;
    justify-content: space-between;
    align-items: center;
    padding: 21px 22px 24px 100px;
    background: #212834;
}
.animationCookieUp {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: appearUp;
}
.animationCookieDown{
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeInDown;
}

@keyframes appearUp { /* Сама анимация */
    0% {                /* Старт анимации */
        opacity: 0;
        transform: translate3d(0px, 100%, 0px);
    }
    100% { /* в финале анимации - финал это заданная 0.55s */
        opacity: 1;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {                /* Старт анимации */
        opacity: 1;
        transform: none;
        /*transform: translate3d(0px, 200%, 0px);*/
    }
    100% { /* в финале анимации - финал это заданная 0.55s */
        opacity: 0;
        /*transform: none;*/
        transform: translate3d(0px, 200%, 0px);
    }
}

.cookie__text {
    margin: 0;
    font-family: 'Noto Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.button {
    padding: 0;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    color: inherit;
    font-family: 'Noto Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 132px;
    height: 50px;
    cursor: pointer;
}



